.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

#canvas_logo {
    padding-left: 40px;
    width: 100px;
    margin-bottom: 10px;
}
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 100%}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  
  
  /*** custom media query css ***/
@media (min-width: 0px) and (max-width: 767px) {
  .row-eq-height {
    display: block;
  }
 .col-half-offset{
    margin-left:0%
    }
}
@media (min-width: 768px) and (max-width: 991px) {
  .row-eq-height {
    display: flex;
  }
    .col-half-offset{
    margin-left:4.166666667%
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .row-eq-height {
    display: flex;
  }
     .col-half-offset{
    margin-left:4.166666667%
    }
}
@media (min-width: 1200px) {
  .row-eq-height {
    display: flex;
  }
    .col-half-offset{
    margin-left:4.166666667%
    }
}
.sidenav {
    padding-top: 5px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 240px;
}
.rhtsidenav {
    /* position: inherit; */
    /* right: 0px; */
    /* left: inherit; */
    /* height: 100%; */
    background-color: #666;
    padding-right: 0px;
    padding-left: 0px;
}
.main-container {
    margin-left: 240px;
    /* clear: both; */
}
.link_group {
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
}
.blue_link {
    color: #0099cc;
    margin-left: 20px;
}
.language_selection {
  background-color: #404040;
    height: 7% !important;
  }
  .language_selection input{
  display: none;
  }
  .language_selection label {
    padding-top: 22px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
  }
  .wells {
    margin-bottom: 20px;
  }
  .language_selection input[type="radio"]:checked + label {
    padding: 5px 15px;
    background-color: #0099cc;
}
.code {
    padding: 5px 10px;
    background-color: #404040;
    border-radius: 10px;
    color: #d3d3d3;
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.api_header {
    color: #d3d3d3;
    padding-left: 10px;
  }